.black_bottom {
	width: 100%;
	height: 2566rpx;
	background-color: rgba(28, 31, 46, 1);
	padding-left: 44rpx;
	padding-right: 44rpx;
}
.describe_text {
	width: 700rpx;
	height: 210rpx;
	margin-top: 222rpx;
	color: rgba(255, 255, 255, 1);

	@extend .text;
	font-size: 30rpx;
	font-weight: 700;
	line-height: 56rpx;
	white-space: pre-wrap;
}
.platform_group {
	margin-top: 36rpx;
	margin-left: -16rpx;
	.platform_box {
		width: 88rpx;
		height: 88rpx;
		background-color: #fff;
		margin-left: 16rpx;
		.platform_icon {
			width: 32rpx;
			height: 32rpx;
		}
	}
}
.link_title {
	margin-top: 100rpx;
	color: rgba(255, 255, 255, 1);
	@extend .text;
	font-size: 36rpx;
	font-weight: 700;
	line-height: 56rpx;
}
.link_content {
	margin-top: 24rpx;
	color: rgba(255, 255, 255, 1);
	@extend .text;
	font-size: 30rpx;
	font-weight: 400;
	line-height: 56rpx;
}
.contact_item {
	margin-top: 24rpx;
	height: 56rpx;
	.contact_icon {
		width: 32rpx;
		height: 32rpx;
		margin-top: 14rpx;
	}
	.contact_text {
		margin-left: 32rpx;
		color: rgba(255, 255, 255, 1);
		@extend .text;
		font-size: 30rpx;
		font-weight: 400;
		line-height: 56rpx;
		white-space: pre-wrap;
	}
}
.email_input_box {
	width: 100%;
	height: 94rpx;
	margin-top: 24rpx;
	border: 2rpx solid rgba(210, 210, 213, 1);
	.email_input {
		width: 520rpx;
		margin: 28rpx 22rpx 0 22rpx;

		color: rgba(255, 255, 255, 1);
		@extend .text;
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
	}
	.email_input_placeholder {
		color: rgba(138, 145, 153, 1);
		@extend .text;
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
	}
	.send_box {
		width: 90rpx;
		height: 86rpx;
		margin: 2rpx 2rpx 2rpx auto;
		background-color: rgba(105, 75, 241, 1);
		.send_icon {
			width: 32rpx;
			height: 32rpx;
		}
	}
}
.split_line {
	width: 750rpx;
	height: 2rpx;
	margin: 70rpx -44rpx 0 -44rpx;
	background-color: rgba(255, 255, 255, 0.15);
}
.company_text {
	width: 100%;
	margin-top: 24rpx;
	color: rgba(138, 145, 153, 1);
	@extend .text;
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: center;
}
