.top_img_group {
	height: 222rpx;
	width: 750rpx;
	position: relative;
	.top_img {
		height: 222rpx;
		width: 750rpx;
	}
	.top_content {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0%;
		top: 0%;
		.top_text {
			@extend .text;
			height: 44rpx;
			color: rgba(255, 255, 255, 1);
			font-size: 32rpx;
			font-family: PingFang TC-Semibold;
			font-weight: 600;
			margin: 90rpx 0 0 36rpx;
		}
	}
}
.content_group {
	width: 678rpx;
	margin: 80rpx 0 0 36rpx;

	.project_top_img {
		width: 678rpx;
		height: 388rpx;
	}
	.project_other_img_group {
		margin-top: 36rpx;
		.project_other_img_1 {
			width: 350rpx;
			height: 198rpx;
		}
		.project_other_img_2 {
			width: 292rpx;
			height: 288rpx;
		}
	}
	.project_introduce_box {
		width: 100%;
		height: 90rpx;
		margin-top: 36rpx;
		background-color: rgba(103, 76, 239, 1);
		padding: 12rpx 30rpx 12rpx 30rpx;
		.project_introduce {
			@extend .text;
			color: rgba(255, 255, 255, 1);
			font-size: 20rpx;
			font-weight: 400;
			line-height: 38rpx;
			white-space: pre-wrap;
		}
	}
	.project_title_text {
		@extend .text;
		width: 100%;
		overflow-wrap: break-word;
		color: rgba(17, 17, 17, 1);
		font-size: 48rpx;
		font-weight: 600;
		text-align: left;
		line-height: 64rpx;
		white-space: pre-wrap;
		margin-top: 44rpx;
	}
	.project_target_box {
		width: 352rpx;
		height: 132rpx;
		margin: 36rpx 0 0 164rpx;
		box-shadow: inset -3px -4px 9px 0px rgba(140, 118, 255, 0.25);
		background-color: rgba(255, 255, 255, 1);
		border-radius: 8px;
		border: 1px solid rgba(108, 76, 249, 1);
		.target_text {
			@extend .text;
			width: 100%;
			font-size: 30rpx;
			font-weight: 500;
			text-align: center;
			line-height: 44rpx;
			color: rgba(140, 118, 255, 1);
			margin-top: 22rpx;
		}
		.target_value_text {
			@extend .text;
			width: 100%;
			font-size: 30rpx;
			text-align: center;
			line-height: 44rpx;
			color: rgba(108, 76, 249, 1);
			// margin-top: 22rpx;
		}
	}
	.deadline_box {
		width: 264rpx;
		height: 96rpx;
		margin: 20rpx 0 0 206rpx;
		background-color: rgba(234, 233, 238, 1);
		border-radius: 9px;
		border: 1px solid rgba(0, 0, 0, 0.23);
		.deadline_text {
			@extend .text;
			width: 100%;
			height: 88rpx;
			color: rgba(17, 17, 17, 1);
			font-size: 28rpx;
			text-align: center;
			line-height: 44rpx;
			margin-top: 4rpx;
		}
	}
	.story_box {
		background-color: rgba(108, 75, 250, 1);
		border-radius: 4px;
		height: 78rpx;
		border: 1px solid rgba(196, 187, 245, 1);
		width: 110rpx;
		margin-top: 64rpx;
		.story_text {
			@extend .text;
			width: 100%;
			height: 44rpx;
			color: rgba(255, 255, 255, 1);
			font-size: 28rpx;
			text-align: center;
			line-height: 44rpx;
		}
	}
}
