.form_window {
	width: 702rpx;
	box-shadow: 0 0 8rpx 0 rgba(0, 0, 0, 0.1);
	margin: 188rpx 0 0 24rpx;
	padding: 70rpx 60rpx 70rpx 60rpx;
	background-color: #fff;
	.form_title {
		@extend .text;
		color: rgba(72, 72, 72, 1);
		font-size: 36rpx;
		font-weight: 400;
		line-height: 52rpx;
	}
	.form_describe {
		@extend .text;
		color: rgba(72, 72, 72, 1);
		white-space: break-spaces;
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
		margin-top: 52rpx;
	}
	.form_content {
		margin-top: 52rpx;
	}
	.form_btn {
		height: 88rpx;
		margin-top: 84rpx;
		border: 4rpx solid rgba(103, 76, 239, 1);
		.form_btn_text {
			@extend .text;
			color: rgba(103, 76, 239, 1);
			font-size: 36rpx;
			font-weight: 700;
			margin-top: 5rpx;
		}
	}
}
