.option_space {
	margin-top: 32rpx;
}
.option_bottom {
	height: 120rpx;
}
.normal_text {
	@extend .text;
	color: rgba(72, 72, 72, 1);
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: center;
}
.link_text {
	@extend .text;
	color: rgba(103, 76, 239, 1);
	text-decoration: underline 2rpx rgba(103, 76, 239, 1);
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: center;
}
