.bg_group {
	position: relative;
	width: 750rpx;
	height: 290rpx;
	.raise_bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.apply_text {
		position: relative;
		@extend .text;
		color: #fff;
		font-size: 40rpx;
		font-weight: 700;
		line-height: 50rpx;
		text-align: center;
		width: 100%;
		margin-top: 20rpx;
	}
	.bg_btn {
		position: absolute;
		background-color: #fff;
		width: 88rpx;
		height: 88rpx;
		bottom: 0;
	}
	.btn_text {
		@extend .text;
		// width: 100%;
		font-size: 22rpx;
		font-weight: 400;
		line-height: 32rpx;
		text-align: center;
	}
}
.introduce_title {
	@extend .text;
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: left;
	margin: 18rpx 36rpx 0 36rpx;
}
.introduce_describe {
	@extend .text;
	font-size: 22rpx;
	font-weight: 400;
	line-height: 32rpx;
	text-align: left;
	white-space: pre-wrap;
	text-transform: uppercase;
	margin: 8rpx 36rpx 0 36rpx;
}
