.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 325.87vw;
  overflow: hidden;
  .block_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 21.34vw;
    width: 100vw;
    .box_1 {
      width: 80.8vw;
      height: 5.87vw;
      margin: 3.2vw 0 0 12.26vw;
      .text_1 {
        width: 9.87vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 4.53vw;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 5.34vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 50.13vw;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 4.8vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 1.6vw;
      }
      .image_1 {
        width: 7.47vw;
        height: 3.47vw;
        margin: 1.06vw 0 0 1.6vw;
      }
    }
    .box_2 {
      width: 58.14vw;
      height: 5.87vw;
      margin: 2.93vw 0 3.46vw 4.8vw;
      .thumbnail_1 {
        width: 3.74vw;
        height: 3.74vw;
        margin-top: 1.07vw;
      }
      .text_2 {
        width: 25.6vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 4.53vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
      }
    }
  }
  .block_2 {
    position: relative;
    width: 100vw;
    height: 70.67vw;
    .image-wrapper_1 {
      width: 90.4vw;
      height: 5.87vw;
      margin: 18.93vw 0 0 4.8vw;
      .thumbnail_2 {
        width: 5.34vw;
        height: 4.8vw;
        margin-top: 0.8vw;
      }
      .label_1 {
        width: 5.87vw;
        height: 5.87vw;
      }
    }
    .group_3 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0;
      top: -0.26vw;
      width: 100vw;
      height: 13.07vw;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_3 {
        width: 3.47vw;
        height: 3.2vw;
        margin: 5.06vw 0 0 40.53vw;
      }
      .text_3 {
        width: 9.07vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 3.73vw 0 0 1.6vw;
      }
      .thumbnail_4 {
        width: 4.27vw;
        height: 4.27vw;
        margin: 4.53vw 0 0 5.06vw;
      }
      .text_4 {
        width: 30.14vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 3.73vw 4.53vw 0 1.33vw;
      }
    }
    .text-wrapper_1 {
      height: 29.6vw;
      width: 100vw;
      position: absolute;
      left: -0.26vw;
      top: 31.2vw;
      .text_5 {
        width: 68vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 12vw 0 0 4.8vw;
      }
    }
  }
  .image_2 {
    width: 90.4vw;
    height: 51.74vw;
    margin: -0.26vw 0 0 4.8vw;
  }
  .block_3 {
    width: 100vw;
    height: 182.67vw;
    margin-bottom: 0.27vw;
    .image-wrapper_2 {
      width: 90.4vw;
      height: 38.4vw;
      margin: 4.8vw 0 0 4.8vw;
      .image_3 {
        width: 46.67vw;
        height: 26.4vw;
      }
      .image_4 {
        width: 38.94vw;
        height: 38.4vw;
      }
    }
    .image_5 {
      width: 90.4vw;
      height: 12vw;
      margin: 4.8vw 0 0 4.8vw;
    }
    .paragraph_1 {
      width: 89.34vw;
      height: 17.07vw;
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 6.4vw;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 8.54vw;
      margin: 5.86vw 0 0 4.8vw;
    }
    .box_3 {
      box-shadow: inset -3px -4px 9px 0px rgba(140, 118, 255, 0.25);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 8px;
      height: 17.6vw;
      border: 1px solid rgba(108, 76, 249, 1);
      width: 46.94vw;
      margin: 4.8vw 0 0 26.66vw;
      .text-wrapper_2 {
        width: 16vw;
        height: 11.74vw;
        overflow-wrap: break-word;
        font-size: 0;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        line-height: 5.87vw;
        margin: 2.93vw 0 0 15.46vw;
        .paragraph_2 {
          width: 16vw;
          height: 11.74vw;
          overflow-wrap: break-word;
          color: rgba(140, 118, 255, 1);
          font-size: 4vw;
          font-family: PingFang TC-Medium;
          font-weight: 500;
          text-align: center;
          line-height: 5.87vw;
        }
        .text_6 {
          width: 16vw;
          height: 11.74vw;
          overflow-wrap: break-word;
          color: rgba(108, 76, 249, 1);
          font-size: 4vw;
          font-family: PingFang TC-Medium;
          font-weight: 500;
          text-align: center;
          line-height: 5.87vw;
        }
      }
    }
    .text-wrapper_3 {
      background-color: rgba(234, 233, 238, 1);
      border-radius: 9px;
      height: 12.8vw;
      border: 1px solid rgba(0, 0, 0, 0.23);
      width: 35.2vw;
      margin: 2.66vw 0 0 32.26vw;
      .paragraph_3 {
        width: 20.27vw;
        height: 11.74vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 3.73vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        line-height: 5.87vw;
        margin: 0.53vw 0 0 7.46vw;
      }
    }
    .text-wrapper_4 {
      background-color: rgba(108, 75, 250, 1);
      border-radius: 4px;
      height: 10.4vw;
      border: 1px solid rgba(196, 187, 245, 1);
      width: 14.67vw;
      margin: 8.53vw 0 0 4.8vw;
      .text_7 {
        width: 9.34vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 3.73vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 2.4vw 0 0 2.66vw;
      }
    }
    .text-group_1 {
      width: 89.34vw;
      height: 29.34vw;
      margin: 4.8vw 0 8.8vw 4.8vw;
      .paragraph_4 {
        width: 89.34vw;
        height: 17.07vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 6.4vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 8.54vw;
      }
      .text_8 {
        width: 64vw;
        height: 8.54vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 5.33vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 8.54vw;
        margin-top: 3.74vw;
      }
    }
  }
}
