.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 10rem;
  height: 32.587rem;
  overflow: hidden;
  .block_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 2.134rem;
    width: 10rem;
    .box_1 {
      width: 8.08rem;
      height: 0.587rem;
      margin: 0.32rem 0 0 1.227rem;
      .text_1 {
        width: 0.987rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 0.453rem;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.534rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 5.014rem;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.48rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 0.16rem;
      }
      .image_1 {
        width: 0.747rem;
        height: 0.347rem;
        margin: 0.107rem 0 0 0.16rem;
      }
    }
    .box_2 {
      width: 5.814rem;
      height: 0.587rem;
      margin: 0.294rem 0 0.347rem 0.48rem;
      .thumbnail_1 {
        width: 0.374rem;
        height: 0.374rem;
        margin-top: 0.107rem;
      }
      .text_2 {
        width: 2.56rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.453rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
      }
    }
  }
  .block_2 {
    position: relative;
    width: 10rem;
    height: 7.067rem;
    .image-wrapper_1 {
      width: 9.04rem;
      height: 0.587rem;
      margin: 1.894rem 0 0 0.48rem;
      .thumbnail_2 {
        width: 0.534rem;
        height: 0.48rem;
        margin-top: 0.08rem;
      }
      .label_1 {
        width: 0.587rem;
        height: 0.587rem;
      }
    }
    .group_3 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0;
      top: -0.026rem;
      width: 10rem;
      height: 1.307rem;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_3 {
        width: 0.347rem;
        height: 0.32rem;
        margin: 0.507rem 0 0 4.054rem;
      }
      .text_3 {
        width: 0.907rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.374rem 0 0 0.16rem;
      }
      .thumbnail_4 {
        width: 0.427rem;
        height: 0.427rem;
        margin: 0.454rem 0 0 0.507rem;
      }
      .text_4 {
        width: 3.014rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.374rem 0.454rem 0 0.134rem;
      }
    }
    .text-wrapper_1 {
      height: 2.96rem;
      width: 10rem;
      position: absolute;
      left: -0.026rem;
      top: 3.12rem;
      .text_5 {
        width: 6.8rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 1.2rem 0 0 0.48rem;
      }
    }
  }
  .image_2 {
    width: 9.04rem;
    height: 5.174rem;
    margin: -0.027rem 0 0 0.48rem;
  }
  .block_3 {
    width: 10rem;
    height: 18.267rem;
    margin-bottom: 0.027rem;
    .image-wrapper_2 {
      width: 9.04rem;
      height: 3.84rem;
      margin: 0.48rem 0 0 0.48rem;
      .image_3 {
        width: 4.667rem;
        height: 2.64rem;
      }
      .image_4 {
        width: 3.894rem;
        height: 3.84rem;
      }
    }
    .image_5 {
      width: 9.04rem;
      height: 1.2rem;
      margin: 0.48rem 0 0 0.48rem;
    }
    .paragraph_1 {
      width: 8.934rem;
      height: 1.707rem;
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 0.64rem;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 0.854rem;
      margin: 0.587rem 0 0 0.48rem;
    }
    .box_3 {
      box-shadow: inset -3px -4px 9px 0px rgba(140, 118, 255, 0.25);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 8px;
      height: 1.76rem;
      border: 1px solid rgba(108, 76, 249, 1);
      width: 4.694rem;
      margin: 0.48rem 0 0 2.667rem;
      .text-wrapper_2 {
        width: 1.6rem;
        height: 1.174rem;
        overflow-wrap: break-word;
        font-size: 0;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        line-height: 0.587rem;
        margin: 0.294rem 0 0 1.547rem;
        .paragraph_2 {
          width: 1.6rem;
          height: 1.174rem;
          overflow-wrap: break-word;
          color: rgba(140, 118, 255, 1);
          font-size: 0.4rem;
          font-family: PingFang TC-Medium;
          font-weight: 500;
          text-align: center;
          line-height: 0.587rem;
        }
        .text_6 {
          width: 1.6rem;
          height: 1.174rem;
          overflow-wrap: break-word;
          color: rgba(108, 76, 249, 1);
          font-size: 0.4rem;
          font-family: PingFang TC-Medium;
          font-weight: 500;
          text-align: center;
          line-height: 0.587rem;
        }
      }
    }
    .text-wrapper_3 {
      background-color: rgba(234, 233, 238, 1);
      border-radius: 9px;
      height: 1.28rem;
      border: 1px solid rgba(0, 0, 0, 0.23);
      width: 3.52rem;
      margin: 0.267rem 0 0 3.227rem;
      .paragraph_3 {
        width: 2.027rem;
        height: 1.174rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.373rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        line-height: 0.587rem;
        margin: 0.054rem 0 0 0.747rem;
      }
    }
    .text-wrapper_4 {
      background-color: rgba(108, 75, 250, 1);
      border-radius: 4px;
      height: 1.04rem;
      border: 1px solid rgba(196, 187, 245, 1);
      width: 1.467rem;
      margin: 0.854rem 0 0 0.48rem;
      .text_7 {
        width: 0.934rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 0.373rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.24rem 0 0 0.267rem;
      }
    }
    .text-group_1 {
      width: 8.934rem;
      height: 2.934rem;
      margin: 0.48rem 0 0.88rem 0.48rem;
      .paragraph_4 {
        width: 8.934rem;
        height: 1.707rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.64rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 0.854rem;
      }
      .text_8 {
        width: 6.4rem;
        height: 0.854rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.533rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.854rem;
        margin-top: 0.374rem;
      }
    }
  }
}
