.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
  .box_1 {
    position: relative;
    width: 100vw;
    height: 69.34vw;
    .box_2 {
      width: 80.8vw;
      height: 5.87vw;
      margin: 2.66vw 0 0 10.4vw;
      .text_1 {
        width: 9.87vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 4.53vw;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 5.34vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 50.13vw;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 4.8vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 1.6vw;
      }
      .image_1 {
        width: 7.47vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 1.6vw;
      }
    }
    .box_3 {
      background-color: rgba(230, 234, 237, 1);
      border-radius: 32px;
      width: 94.67vw;
      height: 8.54vw;
      margin: 3.73vw 0 0 2.66vw;
      .text_2 {
        width: 29.07vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 3.73vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 1.33vw 0 0 32.8vw;
      }
      .thumbnail_1 {
        width: 4vw;
        height: 4.27vw;
        margin: 2.13vw 4.8vw 0 24vw;
      }
    }
    .box_4 {
      background-color: rgba(102, 102, 102, 1);
      width: 100vw;
      height: 13.34vw;
      margin-top: 1.87vw;
    }
    .text_3 {
      width: 25.6vw;
      height: 5.87vw;
      overflow-wrap: break-word;
      color: rgba(36, 62, 88, 1);
      font-size: 4.53vw;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      line-height: 5.87vw;
      margin-left: 97.87vw;
    }
    .label_1 {
      width: 5.87vw;
      height: 5.87vw;
      margin: 13.6vw 0 8vw 89.6vw;
    }
    .box_5 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0.27vw;
      top: 36vw;
      width: 100vw;
      height: 13.07vw;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_2 {
        width: 3.47vw;
        height: 3.2vw;
        margin: 5.06vw 0 0 40.53vw;
      }
      .text_4 {
        width: 30.14vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 3.73vw 4.53vw 0 21.33vw;
      }
    }
  }
  .image_2 {
    width: 94.67vw;
    height: 53.6vw;
    margin: -0.26vw 0 0 2.93vw;
  }
  .box_6 {
    height: 106.14vw;
    background: url(/static/lanhu_mulu/FigmaDDSSlicePNG9e3511fecccbdc9fbc2e2926a2bb4328.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 100.27vw;
    margin: 2.66vw 0 14.93vw 0;
    .block_1 {
      background-color: rgba(255, 255, 255, 1);
      height: 18.14vw;
      border: 1px solid rgba(0, 0, 0, 0.13);
      width: 100vw;
      margin: 73.06vw 0 0 0.26vw;
      .block_2 {
        width: 87.74vw;
        height: 8.27vw;
        margin: 2.4vw 0 0 4.8vw;
        .box_7 {
          background-color: rgba(125, 129, 133, 1);
          width: 5.34vw;
          height: 4vw;
          margin-top: 2.14vw;
        }
        .thumbnail_3 {
          width: 5.34vw;
          height: 4vw;
          margin: 2.13vw 0 0 14.66vw;
        }
        .box_8 {
          background-color: rgba(234, 233, 238, 1);
          width: 8.27vw;
          height: 8.27vw;
          margin-left: 14.67vw;
        }
        .text-wrapper_1 {
          border-radius: 6px;
          height: 5.87vw;
          border: 2px solid rgba(138, 138, 138, 1);
          width: 5.87vw;
          margin: 1.33vw 0 0 14.66vw;
          .text_5 {
            width: 3.2vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(138, 138, 138, 1);
            font-size: 2.66vw;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            line-height: 5.87vw;
            margin-left: 1.34vw;
          }
        }
        .box_9 {
          background-color: rgba(131, 133, 134, 1);
          width: 4.27vw;
          height: 1.07vw;
          margin: 3.73vw 0 0 14.66vw;
        }
      }
      .block_3 {
        width: 42.94vw;
        height: 1.34vw;
        margin: 2.66vw 0 3.46vw 28.53vw;
        .group_3 {
          background-color: rgba(8, 9, 9, 1);
          border-radius: 20px;
          width: 42.94vw;
          height: 1.34vw;
        }
      }
    }
  }
  .box_10 {
    position: absolute;
    left: 0;
    top: 122.67vw;
    width: 100vw;
    height: 2.94vw;
    .box_11 {
      background-color: rgba(255, 255, 255, 1);
      height: 175.74vw;
      border: 1px solid rgba(0, 0, 0, 0.13);
      margin-top: -100vw;
      width: 70.14vw;
      position: relative;
      .group_4 {
        background-color: rgba(255, 255, 255, 1);
        width: 58.4vw;
        height: 57.6vw;
        margin: 0.53vw 0 0 4.8vw;
        .text-wrapper_2 {
          height: 17.6vw;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 58.4vw;
          .text_6 {
            width: 12vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 4.26vw;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
            margin-top: 5.87vw;
          }
        }
        .text-wrapper_3 {
          height: 13.34vw;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 58.4vw;
          .text_7 {
            width: 18.4vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 4.26vw;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
            margin-top: 3.74vw;
          }
        }
        .text-wrapper_4 {
          height: 13.34vw;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 58.4vw;
          .text_8 {
            width: 11.2vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 4.26vw;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
            margin-top: 3.74vw;
          }
        }
        .text-wrapper_5 {
          height: 13.34vw;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 58.4vw;
          .text_9 {
            width: 18.94vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 4.26vw;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
            margin-top: 3.74vw;
          }
        }
      }
      .group_5 {
        position: absolute;
        left: 30.4vw;
        top: 102.67vw;
        width: 69.6vw;
        height: 91.2vw;
        .section_1 {
          background-color: rgba(255, 255, 255, 1);
          width: 36vw;
          height: 8.54vw;
          border: 1px solid rgba(0, 0, 0, 0.13);
          margin: 56.53vw 0 0 20.53vw;
          .image-text_1 {
            width: 24.54vw;
            height: 5.87vw;
            margin: 1.33vw 0 0 2.66vw;
            .image_3 {
              width: 6.14vw;
              height: 4.8vw;
              margin-top: 0.54vw;
            }
            .text-group_1 {
              width: 16.27vw;
              height: 5.87vw;
              overflow-wrap: break-word;
              color: rgba(17, 17, 17, 1);
              font-size: 3.46vw;
              font-family: PingFang TC-Medium;
              font-weight: 500;
              text-align: center;
              white-space: nowrap;
              line-height: 5.87vw;
            }
          }
        }
        .section_2 {
          background-color: rgba(255, 255, 255, 1);
          width: 36vw;
          height: 8.54vw;
          border: 1px solid rgba(0, 0, 0, 0.13);
          margin: -0.53vw 0 18.13vw 20.53vw;
          .image-text_2 {
            width: 20vw;
            height: 5.87vw;
            margin: 1.33vw 0 0 2.66vw;
            .image_4 {
              width: 6.14vw;
              height: 4.27vw;
              margin-top: 1.07vw;
            }
            .text-group_2 {
              width: 11.74vw;
              height: 5.87vw;
              overflow-wrap: break-word;
              color: rgba(154, 154, 154, 1);
              font-size: 3.46vw;
              font-family: PingFang TC-Regular;
              font-weight: NaN;
              text-align: center;
              white-space: nowrap;
              line-height: 5.87vw;
            }
          }
          .thumbnail_4 {
            width: 1.6vw;
            height: 2.94vw;
            margin: 3.46vw 1.06vw 0 10.66vw;
          }
        }
      }
    }
  }
}
