.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 10rem;
  height: 21.654rem;
  overflow: hidden;
  .box_1 {
    position: relative;
    width: 10rem;
    height: 6.934rem;
    .box_2 {
      width: 8.08rem;
      height: 0.587rem;
      margin: 0.267rem 0 0 1.04rem;
      .text_1 {
        width: 0.987rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 0.453rem;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.534rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 5.014rem;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.48rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 0.16rem;
      }
      .image_1 {
        width: 0.747rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 0.16rem;
      }
    }
    .box_3 {
      background-color: rgba(230, 234, 237, 1);
      border-radius: 32px;
      width: 9.467rem;
      height: 0.854rem;
      margin: 0.374rem 0 0 0.267rem;
      .text_2 {
        width: 2.907rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.373rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.134rem 0 0 3.28rem;
      }
      .thumbnail_1 {
        width: 0.4rem;
        height: 0.427rem;
        margin: 0.214rem 0.48rem 0 2.4rem;
      }
    }
    .box_4 {
      background-color: rgba(102, 102, 102, 1);
      width: 10rem;
      height: 1.334rem;
      margin-top: 0.187rem;
    }
    .text_3 {
      width: 2.56rem;
      height: 0.587rem;
      overflow-wrap: break-word;
      color: rgba(36, 62, 88, 1);
      font-size: 0.453rem;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      line-height: 0.587rem;
      margin-left: 9.787rem;
    }
    .label_1 {
      width: 0.587rem;
      height: 0.587rem;
      margin: 1.36rem 0 0.8rem 8.96rem;
    }
    .box_5 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0.027rem;
      top: 3.6rem;
      width: 10rem;
      height: 1.307rem;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_2 {
        width: 0.347rem;
        height: 0.32rem;
        margin: 0.507rem 0 0 4.054rem;
      }
      .text_4 {
        width: 3.014rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.374rem 0.454rem 0 2.134rem;
      }
    }
  }
  .image_2 {
    width: 9.467rem;
    height: 5.36rem;
    margin: -0.027rem 0 0 0.294rem;
  }
  .box_6 {
    height: 10.614rem;
    background: url(/static/lanhu_mulu/FigmaDDSSlicePNG9e3511fecccbdc9fbc2e2926a2bb4328.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 10.027rem;
    margin: 0.267rem 0 1.494rem 0;
    .block_1 {
      background-color: rgba(255, 255, 255, 1);
      height: 1.814rem;
      border: 1px solid rgba(0, 0, 0, 0.13);
      width: 10rem;
      margin: 7.307rem 0 0 0.027rem;
      .block_2 {
        width: 8.774rem;
        height: 0.827rem;
        margin: 0.24rem 0 0 0.48rem;
        .box_7 {
          background-color: rgba(125, 129, 133, 1);
          width: 0.534rem;
          height: 0.4rem;
          margin-top: 0.214rem;
        }
        .thumbnail_3 {
          width: 0.534rem;
          height: 0.4rem;
          margin: 0.214rem 0 0 1.467rem;
        }
        .box_8 {
          background-color: rgba(234, 233, 238, 1);
          width: 0.827rem;
          height: 0.827rem;
          margin-left: 1.467rem;
        }
        .text-wrapper_1 {
          border-radius: 6px;
          height: 0.587rem;
          border: 2px solid rgba(138, 138, 138, 1);
          width: 0.587rem;
          margin: 0.134rem 0 0 1.467rem;
          .text_5 {
            width: 0.32rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(138, 138, 138, 1);
            font-size: 0.266rem;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            line-height: 0.587rem;
            margin-left: 0.134rem;
          }
        }
        .box_9 {
          background-color: rgba(131, 133, 134, 1);
          width: 0.427rem;
          height: 0.107rem;
          margin: 0.374rem 0 0 1.467rem;
        }
      }
      .block_3 {
        width: 4.294rem;
        height: 0.134rem;
        margin: 0.267rem 0 0.347rem 2.854rem;
        .group_3 {
          background-color: rgba(8, 9, 9, 1);
          border-radius: 20px;
          width: 4.294rem;
          height: 0.134rem;
        }
      }
    }
  }
  .box_10 {
    position: absolute;
    left: 0;
    top: 12.267rem;
    width: 10rem;
    height: 0.294rem;
    .box_11 {
      background-color: rgba(255, 255, 255, 1);
      height: 17.574rem;
      border: 1px solid rgba(0, 0, 0, 0.13);
      margin-top: -10rem;
      width: 7.014rem;
      position: relative;
      .group_4 {
        background-color: rgba(255, 255, 255, 1);
        width: 5.84rem;
        height: 5.76rem;
        margin: 0.054rem 0 0 0.48rem;
        .text-wrapper_2 {
          height: 1.76rem;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 5.84rem;
          .text_6 {
            width: 1.2rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 0.426rem;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
            margin-top: 0.587rem;
          }
        }
        .text-wrapper_3 {
          height: 1.334rem;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 5.84rem;
          .text_7 {
            width: 1.84rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 0.426rem;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
            margin-top: 0.374rem;
          }
        }
        .text-wrapper_4 {
          height: 1.334rem;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 5.84rem;
          .text_8 {
            width: 1.12rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 0.426rem;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
            margin-top: 0.374rem;
          }
        }
        .text-wrapper_5 {
          height: 1.334rem;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 5.84rem;
          .text_9 {
            width: 1.894rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 0.426rem;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
            margin-top: 0.374rem;
          }
        }
      }
      .group_5 {
        position: absolute;
        left: 3.04rem;
        top: 10.267rem;
        width: 6.96rem;
        height: 9.12rem;
        .section_1 {
          background-color: rgba(255, 255, 255, 1);
          width: 3.6rem;
          height: 0.854rem;
          border: 1px solid rgba(0, 0, 0, 0.13);
          margin: 5.654rem 0 0 2.054rem;
          .image-text_1 {
            width: 2.454rem;
            height: 0.587rem;
            margin: 0.134rem 0 0 0.267rem;
            .image_3 {
              width: 0.614rem;
              height: 0.48rem;
              margin-top: 0.054rem;
            }
            .text-group_1 {
              width: 1.627rem;
              height: 0.587rem;
              overflow-wrap: break-word;
              color: rgba(17, 17, 17, 1);
              font-size: 0.346rem;
              font-family: PingFang TC-Medium;
              font-weight: 500;
              text-align: center;
              white-space: nowrap;
              line-height: 0.587rem;
            }
          }
        }
        .section_2 {
          background-color: rgba(255, 255, 255, 1);
          width: 3.6rem;
          height: 0.854rem;
          border: 1px solid rgba(0, 0, 0, 0.13);
          margin: -0.054rem 0 1.814rem 2.054rem;
          .image-text_2 {
            width: 2rem;
            height: 0.587rem;
            margin: 0.134rem 0 0 0.267rem;
            .image_4 {
              width: 0.614rem;
              height: 0.427rem;
              margin-top: 0.107rem;
            }
            .text-group_2 {
              width: 1.174rem;
              height: 0.587rem;
              overflow-wrap: break-word;
              color: rgba(154, 154, 154, 1);
              font-size: 0.346rem;
              font-family: PingFang TC-Regular;
              font-weight: NaN;
              text-align: center;
              white-space: nowrap;
              line-height: 0.587rem;
            }
          }
          .thumbnail_4 {
            width: 0.16rem;
            height: 0.294rem;
            margin: 0.347rem 0.107rem 0 1.067rem;
          }
        }
      }
    }
  }
}
