.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 375px;
  height: 812px;
  overflow: hidden;
  .box_1 {
    position: relative;
    width: 375px;
    height: 260px;
    .box_2 {
      width: 303px;
      height: 22px;
      margin: 10px 0 0 39px;
      .text_1 {
        width: 37px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 17px;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 20px;
        height: 13px;
        margin: 5px 0 0 188px;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 18px;
        height: 13px;
        margin: 5px 0 0 6px;
      }
      .image_1 {
        width: 28px;
        height: 13px;
        margin: 5px 0 0 6px;
      }
    }
    .box_3 {
      background-color: rgba(230, 234, 237, 1);
      border-radius: 32px;
      width: 355px;
      height: 32px;
      margin: 14px 0 0 10px;
      .text_2 {
        width: 109px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 14px;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
        margin: 5px 0 0 123px;
      }
      .thumbnail_1 {
        width: 15px;
        height: 16px;
        margin: 8px 18px 0 90px;
      }
    }
    .box_4 {
      background-color: rgba(102, 102, 102, 1);
      width: 375px;
      height: 50px;
      margin-top: 7px;
    }
    .text_3 {
      width: 96px;
      height: 22px;
      overflow-wrap: break-word;
      color: rgba(36, 62, 88, 1);
      font-size: 17px;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      line-height: 22px;
      margin-left: 367px;
    }
    .label_1 {
      width: 22px;
      height: 22px;
      margin: 51px 0 30px 336px;
    }
    .box_5 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 1px;
      top: 135px;
      width: 375px;
      height: 49px;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_2 {
        width: 13px;
        height: 12px;
        margin: 19px 0 0 152px;
      }
      .text_4 {
        width: 113px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 13px;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
        margin: 14px 17px 0 80px;
      }
    }
  }
  .image_2 {
    width: 355px;
    height: 201px;
    margin: -1px 0 0 11px;
  }
  .box_6 {
    height: 398px;
    background: url(/static/lanhu_mulu/FigmaDDSSlicePNG9e3511fecccbdc9fbc2e2926a2bb4328.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 376px;
    margin: 10px 0 56px 0;
    .block_1 {
      background-color: rgba(255, 255, 255, 1);
      height: 68px;
      border: 1px solid rgba(0, 0, 0, 0.13);
      width: 375px;
      margin: 274px 0 0 1px;
      .block_2 {
        width: 329px;
        height: 31px;
        margin: 9px 0 0 18px;
        .box_7 {
          background-color: rgba(125, 129, 133, 1);
          width: 20px;
          height: 15px;
          margin-top: 8px;
        }
        .thumbnail_3 {
          width: 20px;
          height: 15px;
          margin: 8px 0 0 55px;
        }
        .box_8 {
          background-color: rgba(234, 233, 238, 1);
          width: 31px;
          height: 31px;
          margin-left: 55px;
        }
        .text-wrapper_1 {
          border-radius: 6px;
          height: 22px;
          border: 2px solid rgba(138, 138, 138, 1);
          width: 22px;
          margin: 5px 0 0 55px;
          .text_5 {
            width: 12px;
            height: 22px;
            overflow-wrap: break-word;
            color: rgba(138, 138, 138, 1);
            font-size: 10px;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            line-height: 22px;
            margin-left: 5px;
          }
        }
        .box_9 {
          background-color: rgba(131, 133, 134, 1);
          width: 16px;
          height: 4px;
          margin: 14px 0 0 55px;
        }
      }
      .block_3 {
        width: 161px;
        height: 5px;
        margin: 10px 0 13px 107px;
        .group_3 {
          background-color: rgba(8, 9, 9, 1);
          border-radius: 20px;
          width: 161px;
          height: 5px;
        }
      }
    }
  }
  .box_10 {
    position: absolute;
    left: 0;
    top: 460px;
    width: 375px;
    height: 11px;
    .box_11 {
      background-color: rgba(255, 255, 255, 1);
      height: 659px;
      border: 1px solid rgba(0, 0, 0, 0.13);
      margin-top: -375px;
      width: 263px;
      position: relative;
      .group_4 {
        background-color: rgba(255, 255, 255, 1);
        width: 219px;
        height: 216px;
        margin: 2px 0 0 18px;
        .text-wrapper_2 {
          height: 66px;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 219px;
          .text_6 {
            width: 45px;
            height: 22px;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 16px;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 22px;
            margin-top: 22px;
          }
        }
        .text-wrapper_3 {
          height: 50px;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 219px;
          .text_7 {
            width: 69px;
            height: 22px;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 16px;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 22px;
            margin-top: 14px;
          }
        }
        .text-wrapper_4 {
          height: 50px;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 219px;
          .text_8 {
            width: 42px;
            height: 22px;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 16px;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 22px;
            margin-top: 14px;
          }
        }
        .text-wrapper_5 {
          height: 50px;
          border: 1px solid rgba(229, 229, 229, 1);
          width: 219px;
          .text_9 {
            width: 71px;
            height: 22px;
            overflow-wrap: break-word;
            color: rgba(17, 17, 17, 1);
            font-size: 16px;
            font-family: PingFang TC-Medium;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            line-height: 22px;
            margin-top: 14px;
          }
        }
      }
      .group_5 {
        position: absolute;
        left: 114px;
        top: 385px;
        width: 261px;
        height: 342px;
        .section_1 {
          background-color: rgba(255, 255, 255, 1);
          width: 135px;
          height: 32px;
          border: 1px solid rgba(0, 0, 0, 0.13);
          margin: 212px 0 0 77px;
          .image-text_1 {
            width: 92px;
            height: 22px;
            margin: 5px 0 0 10px;
            .image_3 {
              width: 23px;
              height: 18px;
              margin-top: 2px;
            }
            .text-group_1 {
              width: 61px;
              height: 22px;
              overflow-wrap: break-word;
              color: rgba(17, 17, 17, 1);
              font-size: 13px;
              font-family: PingFang TC-Medium;
              font-weight: 500;
              text-align: center;
              white-space: nowrap;
              line-height: 22px;
            }
          }
        }
        .section_2 {
          background-color: rgba(255, 255, 255, 1);
          width: 135px;
          height: 32px;
          border: 1px solid rgba(0, 0, 0, 0.13);
          margin: -2px 0 68px 77px;
          .image-text_2 {
            width: 75px;
            height: 22px;
            margin: 5px 0 0 10px;
            .image_4 {
              width: 23px;
              height: 16px;
              margin-top: 4px;
            }
            .text-group_2 {
              width: 44px;
              height: 22px;
              overflow-wrap: break-word;
              color: rgba(154, 154, 154, 1);
              font-size: 13px;
              font-family: PingFang TC-Regular;
              font-weight: NaN;
              text-align: center;
              white-space: nowrap;
              line-height: 22px;
            }
          }
          .thumbnail_4 {
            width: 6px;
            height: 11px;
            margin: 13px 4px 0 40px;
          }
        }
      }
    }
  }
}
