.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 10rem;
  height: 21.654rem;
  overflow: hidden;
  .box_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 2.134rem;
    width: 10rem;
    .box_2 {
      width: 8.827rem;
      height: 0.827rem;
      margin: 0.32rem 0 0 0.48rem;
      .thumbnail_1 {
        width: 0.374rem;
        height: 0.267rem;
        margin-top: 0.56rem;
      }
      .text_1 {
        width: 0.987rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 0.453rem;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin-left: 0.374rem;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.534rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 5.014rem;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.48rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 0.16rem;
      }
      .image_1 {
        width: 0.747rem;
        height: 0.347rem;
        margin: 0.107rem 0 0 0.16rem;
      }
    }
    .text-wrapper_1 {
      width: 2.56rem;
      height: 0.587rem;
      margin: 0.054rem 0 0.347rem 3.734rem;
      .text_2 {
        width: 2.56rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.453rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
      }
    }
  }
  .box_3 {
    position: relative;
    width: 10rem;
    height: 19.547rem;
    margin-bottom: 0.027rem;
    .image-wrapper_1 {
      width: 9.04rem;
      height: 0.587rem;
      margin: 1.894rem 0 0 0.48rem;
      .thumbnail_2 {
        width: 0.534rem;
        height: 0.48rem;
        margin-top: 0.08rem;
      }
      .label_1 {
        width: 0.587rem;
        height: 0.587rem;
      }
    }
    .block_1 {
      background-color: rgba(28, 31, 46, 1);
      width: 10rem;
      height: 2.987rem;
      margin-top: 0.134rem;
    }
    .image_2 {
      width: 9.014rem;
      height: 0.827rem;
      margin: 1.04rem 0 0 0.507rem;
    }
    .text-wrapper_2 {
      background-color: rgba(255, 255, 255, 1);
      height: 1.307rem;
      border: 1px solid rgba(187, 183, 183, 1);
      margin-left: 0.48rem;
      width: 9.04rem;
      .text_3 {
        width: 3.734rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.374rem 0 0 5.014rem;
      }
    }
    .block_2 {
      width: 1.92rem;
      height: 0.587rem;
      margin: 1.307rem 0 0 0.667rem;
      .section_1 {
        background-color: rgba(55, 233, 178, 1);
        width: 0.16rem;
        height: 0.16rem;
        margin-top: 0.214rem;
      }
      .text_4 {
        width: 1.547rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(101, 81, 198, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
      }
    }
    .image_3 {
      width: 9.04rem;
      height: 4rem;
      margin: 0.507rem 0 0 0.48rem;
    }
    .text-wrapper_3 {
      width: 8.827rem;
      height: 3.52rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 0.587rem;
      margin: 0.64rem 0 0.214rem 0.48rem;
      .paragraph_1 {
        width: 8.827rem;
        height: 3.52rem;
        overflow-wrap: break-word;
        color: rgba(83, 79, 79, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 0.587rem;
      }
      .text_5 {
        width: 8.827rem;
        height: 3.52rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 0.587rem;
      }
      .text_6 {
        width: 8.827rem;
        height: 3.52rem;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 0.587rem;
      }
      .text_7 {
        width: 8.827rem;
        height: 3.52rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 0.587rem;
      }
      .text_8 {
        width: 8.827rem;
        height: 3.52rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 0.587rem;
      }
      .text_9 {
        width: 8.827rem;
        height: 3.52rem;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 0.426rem;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 0.587rem;
      }
    }
    .block_3 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0;
      top: -0.026rem;
      width: 10rem;
      height: 1.307rem;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_3 {
        width: 0.347rem;
        height: 0.32rem;
        margin: 0.507rem 0 0 4.054rem;
      }
      .text_10 {
        width: 0.907rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.374rem 0 0 0.16rem;
      }
      .thumbnail_4 {
        width: 0.427rem;
        height: 0.427rem;
        margin: 0.454rem 0 0 0.507rem;
      }
      .text_11 {
        width: 3.014rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.374rem 0.454rem 0 0.134rem;
      }
    }
    .block_4 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 5.707rem;
      top: 17.867rem;
      width: 3.6rem;
      height: 0.854rem;
      border: 1px solid rgba(0, 0, 0, 0.13);
      .image-text_1 {
        width: 2rem;
        height: 0.587rem;
        margin: 0.134rem 0 0 0.267rem;
        .image_4 {
          width: 0.614rem;
          height: 0.427rem;
          margin-top: 0.107rem;
        }
        .text-group_1 {
          width: 1.174rem;
          height: 0.587rem;
          overflow-wrap: break-word;
          color: rgba(154, 154, 154, 1);
          font-size: 0.346rem;
          font-family: PingFang TC-Regular;
          font-weight: NaN;
          text-align: center;
          white-space: nowrap;
          line-height: 0.587rem;
        }
      }
      .thumbnail_5 {
        width: 0.16rem;
        height: 0.294rem;
        margin: 0.347rem 0.107rem 0 1.067rem;
      }
    }
    .block_5 {
      background-color: rgba(8, 9, 9, 1);
      border-radius: 20px;
      position: absolute;
      left: 2.88rem;
      top: 19.04rem;
      width: 4.294rem;
      height: 0.134rem;
    }
  }
}
