.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
  .box_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 160rpx;
    width: 750rpx;
    .box_2 {
      width: 662rpx;
      height: 62rpx;
      margin: 24rpx 0 0 36rpx;
      .thumbnail_1 {
        width: 28rpx;
        height: 20rpx;
        margin-top: 42rpx;
      }
      .text_1 {
        width: 74rpx;
        height: 44rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 34rpx;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 44rpx;
        margin-left: 28rpx;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 40rpx;
        height: 26rpx;
        margin: 10rpx 0 0 376rpx;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 36rpx;
        height: 26rpx;
        margin: 10rpx 0 0 12rpx;
      }
      .image_1 {
        width: 56rpx;
        height: 26rpx;
        margin: 8rpx 0 0 12rpx;
      }
    }
    .text-wrapper_1 {
      width: 192rpx;
      height: 44rpx;
      margin: 4rpx 0 26rpx 280rpx;
      .text_2 {
        width: 192rpx;
        height: 44rpx;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 34rpx;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 44rpx;
      }
    }
  }
  .box_3 {
    position: relative;
    width: 750rpx;
    height: 1466rpx;
    margin-bottom: 2rpx;
    .image-wrapper_1 {
      width: 678rpx;
      height: 44rpx;
      margin: 142rpx 0 0 36rpx;
      .thumbnail_2 {
        width: 40rpx;
        height: 36rpx;
        margin-top: 6rpx;
      }
      .label_1 {
        width: 44rpx;
        height: 44rpx;
      }
    }
    .block_1 {
      background-color: rgba(28, 31, 46, 1);
      width: 750rpx;
      height: 224rpx;
      margin-top: 10rpx;
    }
    .image_2 {
      width: 676rpx;
      height: 62rpx;
      margin: 78rpx 0 0 38rpx;
    }
    .text-wrapper_2 {
      background-color: rgba(255, 255, 255, 1);
      height: 98rpx;
      border: 1px solid rgba(187, 183, 183, 1);
      margin-left: 36rpx;
      width: 678rpx;
      .text_3 {
        width: 280rpx;
        height: 44rpx;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 26rpx;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 44rpx;
        margin: 28rpx 0 0 376rpx;
      }
    }
    .block_2 {
      width: 144rpx;
      height: 44rpx;
      margin: 98rpx 0 0 50rpx;
      .section_1 {
        background-color: rgba(55, 233, 178, 1);
        width: 12rpx;
        height: 12rpx;
        margin-top: 16rpx;
      }
      .text_4 {
        width: 116rpx;
        height: 44rpx;
        overflow-wrap: break-word;
        color: rgba(101, 81, 198, 1);
        font-size: 26rpx;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 44rpx;
      }
    }
    .image_3 {
      width: 678rpx;
      height: 300rpx;
      margin: 38rpx 0 0 36rpx;
    }
    .text-wrapper_3 {
      width: 662rpx;
      height: 264rpx;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 44rpx;
      margin: 48rpx 0 16rpx 36rpx;
      .paragraph_1 {
        width: 662rpx;
        height: 264rpx;
        overflow-wrap: break-word;
        color: rgba(83, 79, 79, 1);
        font-size: 32rpx;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 44rpx;
      }
      .text_5 {
        width: 662rpx;
        height: 264rpx;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 32rpx;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 44rpx;
      }
      .text_6 {
        width: 662rpx;
        height: 264rpx;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 32rpx;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 44rpx;
      }
      .text_7 {
        width: 662rpx;
        height: 264rpx;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 32rpx;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 44rpx;
      }
      .text_8 {
        width: 662rpx;
        height: 264rpx;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 32rpx;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 44rpx;
      }
      .text_9 {
        width: 662rpx;
        height: 264rpx;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 32rpx;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 44rpx;
      }
    }
    .block_3 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0;
      top: -2rpx;
      width: 750rpx;
      height: 98rpx;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_3 {
        width: 26rpx;
        height: 24rpx;
        margin: 38rpx 0 0 304rpx;
      }
      .text_10 {
        width: 68rpx;
        height: 44rpx;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 26rpx;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 44rpx;
        margin: 28rpx 0 0 12rpx;
      }
      .thumbnail_4 {
        width: 32rpx;
        height: 32rpx;
        margin: 34rpx 0 0 38rpx;
      }
      .text_11 {
        width: 226rpx;
        height: 44rpx;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 26rpx;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 44rpx;
        margin: 28rpx 34rpx 0 10rpx;
      }
    }
    .block_4 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 428rpx;
      top: 1340rpx;
      width: 270rpx;
      height: 64rpx;
      border: 1px solid rgba(0, 0, 0, 0.13);
      .image-text_1 {
        width: 150rpx;
        height: 44rpx;
        margin: 10rpx 0 0 20rpx;
        .image_4 {
          width: 46rpx;
          height: 32rpx;
          margin-top: 8rpx;
        }
        .text-group_1 {
          width: 88rpx;
          height: 44rpx;
          overflow-wrap: break-word;
          color: rgba(154, 154, 154, 1);
          font-size: 26rpx;
          font-family: PingFang TC-Regular;
          font-weight: NaN;
          text-align: center;
          white-space: nowrap;
          line-height: 44rpx;
        }
      }
      .thumbnail_5 {
        width: 12rpx;
        height: 22rpx;
        margin: 26rpx 8rpx 0 80rpx;
      }
    }
    .block_5 {
      background-color: rgba(8, 9, 9, 1);
      border-radius: 20px;
      position: absolute;
      left: 216rpx;
      top: 1428rpx;
      width: 322rpx;
      height: 10rpx;
    }
  }
}
