.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 375px;
  height: 812px;
  overflow: hidden;
  .box_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 375px;
    .box_2 {
      width: 331px;
      height: 31px;
      margin: 12px 0 0 18px;
      .thumbnail_1 {
        width: 14px;
        height: 10px;
        margin-top: 21px;
      }
      .text_1 {
        width: 37px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 17px;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
        margin-left: 14px;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 20px;
        height: 13px;
        margin: 5px 0 0 188px;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 18px;
        height: 13px;
        margin: 5px 0 0 6px;
      }
      .image_1 {
        width: 28px;
        height: 13px;
        margin: 4px 0 0 6px;
      }
    }
    .text-wrapper_1 {
      width: 96px;
      height: 22px;
      margin: 2px 0 13px 140px;
      .text_2 {
        width: 96px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 17px;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
      }
    }
  }
  .box_3 {
    position: relative;
    width: 375px;
    height: 733px;
    margin-bottom: 1px;
    .image-wrapper_1 {
      width: 339px;
      height: 22px;
      margin: 71px 0 0 18px;
      .thumbnail_2 {
        width: 20px;
        height: 18px;
        margin-top: 3px;
      }
      .label_1 {
        width: 22px;
        height: 22px;
      }
    }
    .block_1 {
      background-color: rgba(28, 31, 46, 1);
      width: 375px;
      height: 112px;
      margin-top: 5px;
    }
    .image_2 {
      width: 338px;
      height: 31px;
      margin: 39px 0 0 19px;
    }
    .text-wrapper_2 {
      background-color: rgba(255, 255, 255, 1);
      height: 49px;
      border: 1px solid rgba(187, 183, 183, 1);
      margin-left: 18px;
      width: 339px;
      .text_3 {
        width: 140px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 13px;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
        margin: 14px 0 0 188px;
      }
    }
    .block_2 {
      width: 72px;
      height: 22px;
      margin: 49px 0 0 25px;
      .section_1 {
        background-color: rgba(55, 233, 178, 1);
        width: 6px;
        height: 6px;
        margin-top: 8px;
      }
      .text_4 {
        width: 58px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(101, 81, 198, 1);
        font-size: 13px;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
      }
    }
    .image_3 {
      width: 339px;
      height: 150px;
      margin: 19px 0 0 18px;
    }
    .text-wrapper_3 {
      width: 331px;
      height: 132px;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 22px;
      margin: 24px 0 8px 18px;
      .paragraph_1 {
        width: 331px;
        height: 132px;
        overflow-wrap: break-word;
        color: rgba(83, 79, 79, 1);
        font-size: 16px;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 22px;
      }
      .text_5 {
        width: 331px;
        height: 132px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 16px;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 22px;
      }
      .text_6 {
        width: 331px;
        height: 132px;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 16px;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 22px;
      }
      .text_7 {
        width: 331px;
        height: 132px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 16px;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 22px;
      }
      .text_8 {
        width: 331px;
        height: 132px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 16px;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 22px;
      }
      .text_9 {
        width: 331px;
        height: 132px;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 16px;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 22px;
      }
    }
    .block_3 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0;
      top: -1px;
      width: 375px;
      height: 49px;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_3 {
        width: 13px;
        height: 12px;
        margin: 19px 0 0 152px;
      }
      .text_10 {
        width: 34px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 13px;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
        margin: 14px 0 0 6px;
      }
      .thumbnail_4 {
        width: 16px;
        height: 16px;
        margin: 17px 0 0 19px;
      }
      .text_11 {
        width: 113px;
        height: 22px;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 13px;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 22px;
        margin: 14px 17px 0 5px;
      }
    }
    .block_4 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 214px;
      top: 670px;
      width: 135px;
      height: 32px;
      border: 1px solid rgba(0, 0, 0, 0.13);
      .image-text_1 {
        width: 75px;
        height: 22px;
        margin: 5px 0 0 10px;
        .image_4 {
          width: 23px;
          height: 16px;
          margin-top: 4px;
        }
        .text-group_1 {
          width: 44px;
          height: 22px;
          overflow-wrap: break-word;
          color: rgba(154, 154, 154, 1);
          font-size: 13px;
          font-family: PingFang TC-Regular;
          font-weight: NaN;
          text-align: center;
          white-space: nowrap;
          line-height: 22px;
        }
      }
      .thumbnail_5 {
        width: 6px;
        height: 11px;
        margin: 13px 4px 0 40px;
      }
    }
    .block_5 {
      background-color: rgba(8, 9, 9, 1);
      border-radius: 20px;
      position: absolute;
      left: 108px;
      top: 714px;
      width: 161px;
      height: 5px;
    }
  }
}
