.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
  .box_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 21.34vw;
    width: 100vw;
    .box_2 {
      width: 88.27vw;
      height: 8.27vw;
      margin: 3.2vw 0 0 4.8vw;
      .thumbnail_1 {
        width: 3.74vw;
        height: 2.67vw;
        margin-top: 5.6vw;
      }
      .text_1 {
        width: 9.87vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 4.53vw;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin-left: 3.74vw;
      }
      .group_1 {
        background-color: rgba(0, 0, 0, 1);
        width: 5.34vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 50.13vw;
      }
      .group_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 4.8vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 1.6vw;
      }
      .image_1 {
        width: 7.47vw;
        height: 3.47vw;
        margin: 1.06vw 0 0 1.6vw;
      }
    }
    .text-wrapper_1 {
      width: 25.6vw;
      height: 5.87vw;
      margin: 0.53vw 0 3.46vw 37.33vw;
      .text_2 {
        width: 25.6vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 4.53vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
      }
    }
  }
  .box_3 {
    position: relative;
    width: 100vw;
    height: 195.47vw;
    margin-bottom: 0.27vw;
    .image-wrapper_1 {
      width: 90.4vw;
      height: 5.87vw;
      margin: 18.93vw 0 0 4.8vw;
      .thumbnail_2 {
        width: 5.34vw;
        height: 4.8vw;
        margin-top: 0.8vw;
      }
      .label_1 {
        width: 5.87vw;
        height: 5.87vw;
      }
    }
    .block_1 {
      background-color: rgba(28, 31, 46, 1);
      width: 100vw;
      height: 29.87vw;
      margin-top: 1.34vw;
    }
    .image_2 {
      width: 90.14vw;
      height: 8.27vw;
      margin: 10.4vw 0 0 5.06vw;
    }
    .text-wrapper_2 {
      background-color: rgba(255, 255, 255, 1);
      height: 13.07vw;
      border: 1px solid rgba(187, 183, 183, 1);
      margin-left: 4.8vw;
      width: 90.4vw;
      .text_3 {
        width: 37.34vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 3.73vw 0 0 50.13vw;
      }
    }
    .block_2 {
      width: 19.2vw;
      height: 5.87vw;
      margin: 13.06vw 0 0 6.66vw;
      .section_1 {
        background-color: rgba(55, 233, 178, 1);
        width: 1.6vw;
        height: 1.6vw;
        margin-top: 2.14vw;
      }
      .text_4 {
        width: 15.47vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(101, 81, 198, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
      }
    }
    .image_3 {
      width: 90.4vw;
      height: 40vw;
      margin: 5.06vw 0 0 4.8vw;
    }
    .text-wrapper_3 {
      width: 88.27vw;
      height: 35.2vw;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 5.87vw;
      margin: 6.4vw 0 2.13vw 4.8vw;
      .paragraph_1 {
        width: 88.27vw;
        height: 35.2vw;
        overflow-wrap: break-word;
        color: rgba(83, 79, 79, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 5.87vw;
      }
      .text_5 {
        width: 88.27vw;
        height: 35.2vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 5.87vw;
      }
      .text_6 {
        width: 88.27vw;
        height: 35.2vw;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 5.87vw;
      }
      .text_7 {
        width: 88.27vw;
        height: 35.2vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 5.87vw;
      }
      .text_8 {
        width: 88.27vw;
        height: 35.2vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 5.87vw;
      }
      .text_9 {
        width: 88.27vw;
        height: 35.2vw;
        overflow-wrap: break-word;
        color: rgba(99, 99, 99, 1);
        font-size: 4.26vw;
        font-family: PingFang TC-Semibold;
        font-weight: 600;
        text-align: left;
        line-height: 5.87vw;
      }
    }
    .block_3 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 0;
      top: -0.26vw;
      width: 100vw;
      height: 13.07vw;
      border: 1px solid rgba(187, 183, 183, 1);
      .thumbnail_3 {
        width: 3.47vw;
        height: 3.2vw;
        margin: 5.06vw 0 0 40.53vw;
      }
      .text_10 {
        width: 9.07vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 3.73vw 0 0 1.6vw;
      }
      .thumbnail_4 {
        width: 4.27vw;
        height: 4.27vw;
        margin: 4.53vw 0 0 5.06vw;
      }
      .text_11 {
        width: 30.14vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Regular;
        font-weight: NaN;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 3.73vw 4.53vw 0 1.33vw;
      }
    }
    .block_4 {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: 57.07vw;
      top: 178.67vw;
      width: 36vw;
      height: 8.54vw;
      border: 1px solid rgba(0, 0, 0, 0.13);
      .image-text_1 {
        width: 20vw;
        height: 5.87vw;
        margin: 1.33vw 0 0 2.66vw;
        .image_4 {
          width: 6.14vw;
          height: 4.27vw;
          margin-top: 1.07vw;
        }
        .text-group_1 {
          width: 11.74vw;
          height: 5.87vw;
          overflow-wrap: break-word;
          color: rgba(154, 154, 154, 1);
          font-size: 3.46vw;
          font-family: PingFang TC-Regular;
          font-weight: NaN;
          text-align: center;
          white-space: nowrap;
          line-height: 5.87vw;
        }
      }
      .thumbnail_5 {
        width: 1.6vw;
        height: 2.94vw;
        margin: 3.46vw 1.06vw 0 10.66vw;
      }
    }
    .block_5 {
      background-color: rgba(8, 9, 9, 1);
      border-radius: 20px;
      position: absolute;
      left: 28.8vw;
      top: 190.4vw;
      width: 42.94vw;
      height: 1.34vw;
    }
  }
}
