.fund_swipper {
	height: 700rpx;
}

.option_space {
	margin-top: 32rpx;
}
.quotation_img {
	width: 54rpx;
	margin-top: 60rpx;
}
.say_title {
	@extend .text;
	font-size: 40rpx;
	font-weight: 700;
	line-height: 54rpx;
	text-align: center;
}
.say_content {
	@extend .text;
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: center;
	white-space: pre-wrap;
}
.lafina_text {
	@extend .text;
	color: rgba(103, 76, 239, 1);

	font-size: 26rpx;
	font-weight: 700;
	line-height: 38rpx;
	text-align: center;
	margin-top: 50rpx;
}
.eurk_text {
	@extend .text;
	color: rgba(204, 204, 204, 1);

	font-size: 20rpx;
	font-weight: 400;
	line-height: 28rpx;
	text-align: center;
}
