.lan_bar {
	position: fixed;
	bottom: 200rpx;
	right: 0rpx;
	height: 60rpx;
	width: 190rpx;
	border-radius: 40rpx;
	background-color: #fff;
	box-shadow: 0 0 8rpx 0 rgba(0, 0, 0, 0.2);
	z-index: 11;
}
.picker_box {
	width: 150rpx;
	height: 60rpx;
	margin: 0;
}
.lan_text {
	width: 120rpx;
	height: 30rpx;
	margin: 10rpx 15rpx 0 15rpx;
	@extend .text;
	font-size: 30rpx;
	font-weight: 400;
	line-height: 38rpx;
}
.close_arrow {
	width: 26rpx;
	height: 26rpx;
	margin: 17rpx 10rpx 0 auto;
	transform: rotate(-90deg);
}
