.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 10rem;
  height: 21.654rem;
  overflow: hidden;
  .group_1 {
    width: 10rem;
    height: 5.2rem;
    .box_1 {
      width: 8.08rem;
      height: 0.587rem;
      margin: 0.267rem 0 0 1.04rem;
      .text_1 {
        width: 0.987rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 0.453rem;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
      }
      .box_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.534rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 5.014rem;
      }
      .box_3 {
        background-color: rgba(0, 0, 0, 1);
        width: 0.48rem;
        height: 0.347rem;
        margin: 0.134rem 0 0 0.16rem;
      }
      .image_1 {
        width: 0.747rem;
        height: 0.347rem;
        margin: 0.107rem 0 0 0.16rem;
      }
    }
    .box_4 {
      background-color: rgba(230, 234, 237, 1);
      border-radius: 32px;
      width: 9.467rem;
      height: 0.854rem;
      margin: 0.374rem 0 0 0.267rem;
      .text_2 {
        width: 2.907rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.373rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.134rem 0 0 3.28rem;
      }
      .thumbnail_1 {
        width: 0.4rem;
        height: 0.427rem;
        margin: 0.214rem 0.48rem 0 2.4rem;
      }
    }
    .text-wrapper_1 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: rgba(103, 77, 239, 1);
      border-radius: 4px;
      height: 1.014rem;
      width: 2.134rem;
      margin: 0.374rem 0 0 0.48rem;
      .text_3 {
        width: 1.6rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 0.4rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.214rem 0 0 0.267rem;
      }
    }
    .box_5 {
      width: 9.014rem;
      height: 0.8rem;
      margin: 0.32rem 0 0.614rem 0.507rem;
      .group_2 {
        border-radius: 8px;
        width: 1.414rem;
        height: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        .image-text_1 {
          width: 1.227rem;
          height: 0.587rem;
          margin: 0.107rem 0 0 0.107rem;
          .text-group_1 {
            width: 0.694rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.346rem;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
          }
          .thumbnail_2 {
            width: 0.374rem;
            height: 0.4rem;
            margin-top: 0.107rem;
          }
        }
      }
      .group_3 {
        border-radius: 8px;
        width: 1.414rem;
        height: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 0.214rem;
        .image-text_2 {
          width: 1.227rem;
          height: 0.587rem;
          margin: 0.107rem 0 0 0.107rem;
          .text-group_2 {
            width: 0.694rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.346rem;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
          }
          .thumbnail_3 {
            width: 0.374rem;
            height: 0.4rem;
            margin-top: 0.107rem;
          }
        }
      }
      .group_4 {
        border-radius: 8px;
        width: 1.44rem;
        height: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 0.214rem;
        .image-text_3 {
          width: 1.227rem;
          height: 0.587rem;
          margin: 0.107rem 0 0 0.134rem;
          .text-group_3 {
            width: 0.694rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.346rem;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
          }
          .thumbnail_4 {
            width: 0.374rem;
            height: 0.4rem;
            margin-top: 0.107rem;
          }
        }
      }
      .group_5 {
        border-radius: 8px;
        width: 1.707rem;
        height: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 0.214rem;
        .image-text_4 {
          width: 1.547rem;
          height: 0.587rem;
          margin: 0.107rem 0 0 0.107rem;
          .text-group_4 {
            width: 1.014rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.346rem;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
          }
          .thumbnail_5 {
            width: 0.374rem;
            height: 0.4rem;
            margin-top: 0.107rem;
          }
        }
      }
      .group_6 {
        border-radius: 8px;
        width: 2.187rem;
        height: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 0.214rem;
        .image-text_5 {
          width: 1.947rem;
          height: 0.587rem;
          margin: 0.107rem 0 0 0.134rem;
          .text-group_5 {
            width: 1.414rem;
            height: 0.587rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.346rem;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 0.587rem;
          }
          .thumbnail_6 {
            width: 0.374rem;
            height: 0.4rem;
            margin-top: 0.107rem;
          }
        }
      }
    }
  }
  .image_2 {
    width: 9.04rem;
    height: 7.414rem;
    margin: -0.027rem 0 0 0.48rem;
  }
  .group_7 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 9.014rem;
    height: 7.44rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    margin-left: 0.507rem;
    .image_3 {
      width: 6.907rem;
      height: 1.814rem;
      margin: 0.747rem 0 0 0.934rem;
    }
    .group_8 {
      width: 1.894rem;
      height: 0.587rem;
      margin: 0.267rem 0 0 0.934rem;
      .thumbnail_7 {
        width: 0.32rem;
        height: 0.32rem;
        margin-top: 0.134rem;
      }
      .text_4 {
        width: 1.467rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 0.266rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        line-height: 0.587rem;
      }
    }
    .text_5 {
      width: 5.68rem;
      height: 0.587rem;
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 0.373rem;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      line-height: 0.587rem;
      margin: 0.374rem 0 0 0.934rem;
    }
    .text-wrapper_2 {
      background-color: rgba(255, 255, 255, 1);
      height: 0.854rem;
      border: 1px solid rgba(140, 118, 255, 0.4);
      width: 4.4rem;
      margin: 0.374rem 0 1.84rem 0.934rem;
      .text_6 {
        width: 2.187rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.134rem 0 0 0.214rem;
      }
    }
    .text-wrapper_3 {
      background-color: rgba(234, 233, 238, 1);
      height: 0.854rem;
      border: 1px solid rgba(140, 118, 255, 0.4);
      width: 4.4rem;
      position: absolute;
      left: 0.934rem;
      top: 5.574rem;
      .text_7 {
        width: 3.76rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.134rem 0 0 0.214rem;
      }
    }
    .text-wrapper_4 {
      background-color: rgba(255, 255, 255, 1);
      height: 0.854rem;
      border: 1px solid rgba(140, 118, 255, 0.4);
      width: 4.4rem;
      position: absolute;
      left: 0.934rem;
      top: 6.4rem;
      .text_8 {
        width: 2.24rem;
        height: 0.587rem;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 0.346rem;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 0.587rem;
        margin: 0.134rem 0 0 0.214rem;
      }
    }
  }
  .group_9 {
    background-color: rgba(255, 255, 255, 1);
    height: 1.814rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    width: 10rem;
    margin: -0.187rem 0 0 0.027rem;
    .group_10 {
      width: 8.774rem;
      height: 0.827rem;
      margin: 0.24rem 0 0 0.48rem;
      .box_6 {
        background-color: rgba(125, 129, 133, 1);
        width: 0.534rem;
        height: 0.4rem;
        margin-top: 0.214rem;
      }
      .thumbnail_8 {
        width: 0.534rem;
        height: 0.4rem;
        margin: 0.214rem 0 0 1.467rem;
      }
      .box_7 {
        background-color: rgba(234, 233, 238, 1);
        width: 0.827rem;
        height: 0.827rem;
        margin-left: 1.467rem;
      }
      .text-wrapper_5 {
        border-radius: 6px;
        height: 0.587rem;
        border: 2px solid rgba(138, 138, 138, 1);
        width: 0.587rem;
        margin: 0.134rem 0 0 1.467rem;
        .text_9 {
          width: 0.32rem;
          height: 0.587rem;
          overflow-wrap: break-word;
          color: rgba(138, 138, 138, 1);
          font-size: 0.266rem;
          font-family: PingFang TC-Medium;
          font-weight: 500;
          text-align: center;
          line-height: 0.587rem;
          margin-left: 0.134rem;
        }
      }
      .box_8 {
        background-color: rgba(131, 133, 134, 1);
        width: 0.427rem;
        height: 0.107rem;
        margin: 0.374rem 0 0 1.467rem;
      }
    }
    .group_11 {
      width: 4.294rem;
      height: 0.134rem;
      margin: 0.267rem 0 0.347rem 2.854rem;
      .box_9 {
        background-color: rgba(8, 9, 9, 1);
        border-radius: 20px;
        width: 4.294rem;
        height: 0.134rem;
      }
    }
  }
}
