.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
  .group_1 {
    width: 100vw;
    height: 52vw;
    .box_1 {
      width: 80.8vw;
      height: 5.87vw;
      margin: 2.66vw 0 0 10.4vw;
      .text_1 {
        width: 9.87vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 4.53vw;
        font-family: SF Pro-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
      }
      .box_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 5.34vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 50.13vw;
      }
      .box_3 {
        background-color: rgba(0, 0, 0, 1);
        width: 4.8vw;
        height: 3.47vw;
        margin: 1.33vw 0 0 1.6vw;
      }
      .image_1 {
        width: 7.47vw;
        height: 3.47vw;
        margin: 1.06vw 0 0 1.6vw;
      }
    }
    .box_4 {
      background-color: rgba(230, 234, 237, 1);
      border-radius: 32px;
      width: 94.67vw;
      height: 8.54vw;
      margin: 3.73vw 0 0 2.66vw;
      .text_2 {
        width: 29.07vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 3.73vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 1.33vw 0 0 32.8vw;
      }
      .thumbnail_1 {
        width: 4vw;
        height: 4.27vw;
        margin: 2.13vw 4.8vw 0 24vw;
      }
    }
    .text-wrapper_1 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: rgba(103, 77, 239, 1);
      border-radius: 4px;
      height: 10.14vw;
      width: 21.34vw;
      margin: 3.73vw 0 0 4.8vw;
      .text_3 {
        width: 16vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 4vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 2.13vw 0 0 2.66vw;
      }
    }
    .box_5 {
      width: 90.14vw;
      height: 8vw;
      margin: 3.2vw 0 6.13vw 5.06vw;
      .group_2 {
        border-radius: 8px;
        width: 14.14vw;
        height: 8vw;
        border: 1px solid rgba(0, 0, 0, 0.13);
        .image-text_1 {
          width: 12.27vw;
          height: 5.87vw;
          margin: 1.06vw 0 0 1.06vw;
          .text-group_1 {
            width: 6.94vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.46vw;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
          }
          .thumbnail_2 {
            width: 3.74vw;
            height: 4vw;
            margin-top: 1.07vw;
          }
        }
      }
      .group_3 {
        border-radius: 8px;
        width: 14.14vw;
        height: 8vw;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 2.14vw;
        .image-text_2 {
          width: 12.27vw;
          height: 5.87vw;
          margin: 1.06vw 0 0 1.06vw;
          .text-group_2 {
            width: 6.94vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.46vw;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
          }
          .thumbnail_3 {
            width: 3.74vw;
            height: 4vw;
            margin-top: 1.07vw;
          }
        }
      }
      .group_4 {
        border-radius: 8px;
        width: 14.4vw;
        height: 8vw;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 2.14vw;
        .image-text_3 {
          width: 12.27vw;
          height: 5.87vw;
          margin: 1.06vw 0 0 1.33vw;
          .text-group_3 {
            width: 6.94vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.46vw;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
          }
          .thumbnail_4 {
            width: 3.74vw;
            height: 4vw;
            margin-top: 1.07vw;
          }
        }
      }
      .group_5 {
        border-radius: 8px;
        width: 17.07vw;
        height: 8vw;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 2.14vw;
        .image-text_4 {
          width: 15.47vw;
          height: 5.87vw;
          margin: 1.06vw 0 0 1.06vw;
          .text-group_4 {
            width: 10.14vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.46vw;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
          }
          .thumbnail_5 {
            width: 3.74vw;
            height: 4vw;
            margin-top: 1.07vw;
          }
        }
      }
      .group_6 {
        border-radius: 8px;
        width: 21.87vw;
        height: 8vw;
        border: 1px solid rgba(0, 0, 0, 0.13);
        margin-left: 2.14vw;
        .image-text_5 {
          width: 19.47vw;
          height: 5.87vw;
          margin: 1.06vw 0 0 1.33vw;
          .text-group_5 {
            width: 14.14vw;
            height: 5.87vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.46vw;
            font-family: PingFang TC-Regular;
            font-weight: NaN;
            text-align: center;
            white-space: nowrap;
            line-height: 5.87vw;
          }
          .thumbnail_6 {
            width: 3.74vw;
            height: 4vw;
            margin-top: 1.07vw;
          }
        }
      }
    }
  }
  .image_2 {
    width: 90.4vw;
    height: 74.14vw;
    margin: -0.26vw 0 0 4.8vw;
  }
  .group_7 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 90.14vw;
    height: 74.4vw;
    border: 1px solid rgba(0, 0, 0, 0.13);
    margin-left: 5.07vw;
    .image_3 {
      width: 69.07vw;
      height: 18.14vw;
      margin: 7.46vw 0 0 9.33vw;
    }
    .group_8 {
      width: 18.94vw;
      height: 5.87vw;
      margin: 2.66vw 0 0 9.33vw;
      .thumbnail_7 {
        width: 3.2vw;
        height: 3.2vw;
        margin-top: 1.34vw;
      }
      .text_4 {
        width: 14.67vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(154, 154, 154, 1);
        font-size: 2.66vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        line-height: 5.87vw;
      }
    }
    .text_5 {
      width: 56.8vw;
      height: 5.87vw;
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 3.73vw;
      font-family: PingFang TC-Semibold;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      line-height: 5.87vw;
      margin: 3.73vw 0 0 9.33vw;
    }
    .text-wrapper_2 {
      background-color: rgba(255, 255, 255, 1);
      height: 8.54vw;
      border: 1px solid rgba(140, 118, 255, 0.4);
      width: 44vw;
      margin: 3.73vw 0 18.4vw 9.33vw;
      .text_6 {
        width: 21.87vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 1.33vw 0 0 2.13vw;
      }
    }
    .text-wrapper_3 {
      background-color: rgba(234, 233, 238, 1);
      height: 8.54vw;
      border: 1px solid rgba(140, 118, 255, 0.4);
      width: 44vw;
      position: absolute;
      left: 9.34vw;
      top: 55.74vw;
      .text_7 {
        width: 37.6vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 1.33vw 0 0 2.13vw;
      }
    }
    .text-wrapper_4 {
      background-color: rgba(255, 255, 255, 1);
      height: 8.54vw;
      border: 1px solid rgba(140, 118, 255, 0.4);
      width: 44vw;
      position: absolute;
      left: 9.34vw;
      top: 64vw;
      .text_8 {
        width: 22.4vw;
        height: 5.87vw;
        overflow-wrap: break-word;
        color: rgba(17, 17, 17, 1);
        font-size: 3.46vw;
        font-family: PingFang TC-Medium;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        line-height: 5.87vw;
        margin: 1.33vw 0 0 2.13vw;
      }
    }
  }
  .group_9 {
    background-color: rgba(255, 255, 255, 1);
    height: 18.14vw;
    border: 1px solid rgba(0, 0, 0, 0.13);
    width: 100vw;
    margin: -1.86vw 0 0 0.26vw;
    .group_10 {
      width: 87.74vw;
      height: 8.27vw;
      margin: 2.4vw 0 0 4.8vw;
      .box_6 {
        background-color: rgba(125, 129, 133, 1);
        width: 5.34vw;
        height: 4vw;
        margin-top: 2.14vw;
      }
      .thumbnail_8 {
        width: 5.34vw;
        height: 4vw;
        margin: 2.13vw 0 0 14.66vw;
      }
      .box_7 {
        background-color: rgba(234, 233, 238, 1);
        width: 8.27vw;
        height: 8.27vw;
        margin-left: 14.67vw;
      }
      .text-wrapper_5 {
        border-radius: 6px;
        height: 5.87vw;
        border: 2px solid rgba(138, 138, 138, 1);
        width: 5.87vw;
        margin: 1.33vw 0 0 14.66vw;
        .text_9 {
          width: 3.2vw;
          height: 5.87vw;
          overflow-wrap: break-word;
          color: rgba(138, 138, 138, 1);
          font-size: 2.66vw;
          font-family: PingFang TC-Medium;
          font-weight: 500;
          text-align: center;
          line-height: 5.87vw;
          margin-left: 1.34vw;
        }
      }
      .box_8 {
        background-color: rgba(131, 133, 134, 1);
        width: 4.27vw;
        height: 1.07vw;
        margin: 3.73vw 0 0 14.66vw;
      }
    }
    .group_11 {
      width: 42.94vw;
      height: 1.34vw;
      margin: 2.66vw 0 3.46vw 28.53vw;
      .box_9 {
        background-color: rgba(8, 9, 9, 1);
        border-radius: 20px;
        width: 42.94vw;
        height: 1.34vw;
      }
    }
  }
}
