.head_img {
	width: 750rpx;
	height: 396rpx;
	margin-top: -88rpx;
}
.become_group {
	width: 100%;
	height: 88rpx;
	background-color: rgba(103, 76, 239, 1);
	margin-top: -10rpx;
}
.become_text {
	@extend .text;
	color: rgba(255, 255, 255, 1);
	font-size: 30rpx;
	font-weight: 400;
	line-height: 44rpx;
	text-align: center;
}
.describe_text {
	width: 726rpx;
	margin: 20rpx 12rpx 0 12rpx;
	@extend .text;
	font-size: 18rpx;
	font-weight: 400;
	line-height: 26rpx;
	white-space: pre-wrap;
}
.title_text {
	@extend .text;
	// margin-left: ;
	color: rgba(204, 204, 204, 1);
	font-family: Noto Sans SC;
	font-size: 22rpx;
	font-weight: 400;
	line-height: 32rpx;
}
.option_space {
	margin-top: 32rpx;
}
.option_title {
	@extend .text;
	white-space: break-spaces;
	font-size: 20rpx;
	font-weight: 700;
	line-height: 28rpx;
}

.option_circle {
	width: 32rpx;
	height: 32rpx;
	border: 2rpx solid rgba(172, 172, 172, 1);
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
}
.option_circle_choose {
	width: 22rpx;
	height: 22rpx;
	border-radius: 50%;
	background: rgba(103, 76, 239, 1);
}
.option_text {
	@extend .text;
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: left;
	margin-left: 20rpx;
}
.file_box {
	width: 622rpx;
	height: 172rpx;
	margin-top: 12rpx;
	padding: 16rpx 14rpx 0rpx 14rpx;
	box-sizing: border-box;
	border: 2rpx solid rgba(172, 172, 172, 1);
	border-radius: 8rpx;
	background: rgba(255, 255, 255, 1);
}
.link_text {
	@extend .text;
	color: rgba(103, 76, 239, 1);
	text-decoration: underline 2rpx rgba(103, 76, 239, 1);
	font-size: 26rpx;
	font-weight: 400;
	line-height: 38rpx;
	text-align: left;
	margin-top: 20rpx;
}
.tip_text {
	@extend .text;
	font-size: 20rpx;
	font-weight: 400;
	line-height: 28rpx;
	text-align: left;
	white-space: pre-wrap;
}
.space_line {
	width: 100%;
	height: 2rpx;
	background-color: rgba(103, 76, 239, 1);
}
.privacy_title {
	@extend .text;
	font-size: 20rpx;
	font-weight: 700;
	line-height: 28rpx;
	text-align: left;
}
.request_tip_text {
	width: 700rpx;
	margin-left: 25rpx;
	margin-top: 44rpx;
	text-align: center;
}
.goto_box {
	width: 100%;
	height: 562rpx;
	background-color: rgba(103, 76, 239, 1);
	padding-top: 60rpx;
	.goto_title {
		@extend .text;
		color: rgba(255, 255, 255, 1);
		font-size: 32rpx;
		font-weight: 700;
		line-height: 46rpx;
		text-align: center;
		// margin-top: 60rpx;
	}
	.goto_describe {
		@extend .text;
		color: rgba(255, 255, 255, 1);
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
		text-align: center;
		white-space: pre-wrap;
		margin-top: 20rpx;
		height: 210rpx;
	}
	.goto_icon {
		width: 60rpx;
		height: 60rpx;
		margin-top: 22rpx;
	}
}
.fund_bottom {
	height: 1060rpx;
	background-color: rgba(28, 28, 28, 1);
	.ukcf_logo {
		width: 462rpx;
		height: 450rpx;
		margin-top: 32rpx;
	}
	.ukcf_describe {
		width: 700rpx;
		height: 140rpx;
		margin-top: 48rpx;
		color: rgba(255, 255, 255, 1);

		@extend .text;
		font-size: 20rpx;
		font-weight: 400;
		line-height: 28rpx;
		text-align: center;
		white-space: pre-wrap;
	}
	.contast_grid {
		width: 360rpx;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 8rpx 32rpx;
	}
	.contast_text {
		width: auto;
		height: auto;
		margin-top: 0;
	}
	.split_line {
		width: 750rpx;
		height: 2rpx;
		margin-top: 50rpx;
		background-color: rgba(103, 76, 239, 1);
	}
	.company_text {
		margin-top: 30rpx;
		color: rgba(103, 76, 239, 1);

		@extend .text;
		font-size: 20rpx;
		font-weight: 400;
		line-height: 28rpx;
	}
	.icon_group {
		width: 410rpx;
		height: 72rpx;
		margin-top: 26rpx;
		.icon_box {
			width: 72rpx;
			height: 72rpx;
			border-radius: 8rpx;
			background: rgba(103, 76, 239, 1);
			.icon {
				height: 32rpx;
				width: 32rpx;
			}
		}
	}
}
