.wave_bg {
	height: 866rpx;
	position: absolute;
	top: 0;
	left: 0;
}
.wave_blue_box {
	width: 100%;
	// height: 2132rpx;
	background-color: rgba(103, 76, 239, 1);
	overflow: hidden;
	position: relative;
	padding: 74rpx 24rpx 74rpx 24rpx;

	.wave_title {
		margin-left: 28rpx;
		@extend .text;
		color: rgba(255, 255, 255, 1);
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
	}
	.wave_top {
		@extend .text;
		color: rgba(255, 255, 255, 1);
		font-size: 48rpx;
		font-weight: 800;
		line-height: 70rpx;
		margin-top: 16rpx;
	}
	.wave_describe {
		@extend .text;
		color: rgba(255, 255, 255, 1);
		font-size: 26rpx;
		font-weight: 400;
		line-height: 48rpx;
		white-space: pre-wrap;
		margin-top: 14rpx;
	}
	.circle_img {
		width: 308rpx;
		height: 356rpx;
		margin-top: 108rpx;
	}
	.endorsed_group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rpx;
		margin-top: 90rpx;
		.endorsed_box {
			width: 348rpx;
			height: 344rpx;
			background-color: #fff;
		}
		.endorsed_icon {
			width: 96rpx;
			height: 100rpx;
			margin-top: 58rpx;
		}
		.endorsed_text {
			width: 250rpx;
			height: 90rpx;
			margin-top: 54.5rpx;
			@extend .text;
			color: rgba(0, 0, 0, 1);
			font-size: 26rpx;
			font-weight: 700;
			line-height: 32rpx;
			text-align: center;
			white-space: pre-wrap;
		}
	}
}
.intrest_group {
	height: 124rpx;
	position: relative;
	.square_box {
		width: 8rpx;
		height: 8rpx;
		margin-top: 15rpx;
		background-color: rgba(48, 240, 183, 1);
	}
	.intrest_text {
		margin-left: 20rpx;
		@extend .text;
		color: rgba(103, 76, 239, 1);
		font-size: 26rpx;
		font-weight: 700;
		line-height: 38rpx;
	}
	.intrest_top {
		@extend .text;
		color: rgba(28, 31, 46, 1);
		font-size: 48rpx;
		font-weight: 700;
		line-height: 70rpx;
	}
}
.green_box {
	width: 750rpx;
	padding: 0 24rpx 0 24rpx;
	margin-top: 2rpx;
	position: relative;
	.green_title {
		width: 100%;
		height: 292rpx;
		background-color: rgba(41, 240, 181, 1);
		overflow: hidden;
		.title_text {
			margin-left: 70rpx;
			margin-top: 70rpx;
			@extend .text;
			color: rgba(28, 31, 46, 1);
			font-size: 36rpx;
			font-weight: 700;
			line-height: 48rpx;
			text-align: left;
		}
		.btn_box {
			width: 286rpx;
			height: 92rpx;
			background-color: rgba(28, 31, 46, 1);
			margin-left: 66rpx;
			margin-top: 28rpx;
			position: relative;
			.link_box {
				width: 28rpx;
				height: 28rpx;
				background-color: #fff;
				position: absolute;
				top: 0;
				right: 0;
			}
			.make_text {
				@extend .text;
				color: rgba(255, 255, 255, 1);
				font-size: 26rpx;
				font-weight: 700;
				line-height: 48rpx;
				text-align: left;
			}
		}
	}
	.green_group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rpx;
		margin-top: 100rpx;
		.green_grid_box {
			width: 348rpx;
			height: 362rpx;
			background-color: rgba(41, 240, 181, 1);
			.grid_text {
				margin: 56rpx 46rpx 0 46rpx;
				@extend .text;
				color: rgba(28, 31, 46, 1);
				font-size: 26rpx;
				font-weight: 700;
				line-height: 48rpx;
				text-align: left;
				white-space: pre-wrap;
			}
		}
	}
	.recommend_group {
		margin-top: 60rpx;
		.recommend_icon_box {
			width: 80rpx;
			height: 80rpx;
			border-radius: 50%;
			background-color: rgba(238, 239, 246, 1);
			.recommend_icon {
				width: 48rpx;
				height: 48rpx;
			}
		}
		.recommend_title {
			margin-top: 38rpx;
			@extend .text;
			color: rgba(28, 31, 46, 1);
			font-size: 32rpx;
			font-weight: 700;
			line-height: 46rpx;
			text-align: center;
			white-space: pre-wrap;
		}
		.recommend_content {
			height: 234rpx;
			margin-top: 36rpx;
			@extend .text;
			color: rgba(138, 145, 153, 1);
			font-size: 28rpx;
			font-weight: 400;
			line-height: 40rpx;
			text-align: center;
			white-space: pre-wrap;
		}
	}
}
.project_blue_box {
	width: 100%;
	background-color: rgba(103, 76, 239, 1);
	padding: 28rpx 24rpx 184rpx 24rpx;
	position: relative;
	.project_blue_group {
		margin-top: 60rpx;
		.icon_box {
			width: 180rpx;
			height: 180rpx;
			border-radius: 50%;
			border: 4rpx solid rgba(255, 255, 255, 1);
		}
		.value_text {
			margin-top: 4rpx;
			@extend .text;
			color: rgba(255, 255, 255, 1);
			font-size: 64rpx;
			font-weight: 800;
			line-height: 92rpx;
		}
		.project_text {
			margin-top: 4rpx;
			@extend .text;
			color: rgba(255, 255, 255, 1);
			font-size: 26rpx;
			font-weight: 400;
			line-height: 38rpx;
		}
	}
}
.main_swipper {
	height: 1280rpx;
	margin-top: 84rpx;
	margin-bottom: 60rpx;
	.swiper-item {
		width: 700rpx;
		height: 1206rpx;
		border: 2rpx solid rgba(238, 238, 238, 1);
		background: rgba(255, 255, 255, 1);
		margin-left: 25rpx;
		.swiper-img {
			width: 100%;
			height: 628rpx;
		}
		.swiper_introduce_box {
			width: 644rpx;
			height: 210rpx;
			margin: 32rpx 28rpx 0 28rpx;
			background-color: rgba(103, 76, 239, 1);
			padding: 18rpx 44rpx 18rpx 44rpx;
			.swiper_introduce {
				@extend .text;
				color: rgba(255, 255, 255, 1);
				font-size: 26rpx;
				font-weight: 400;
				line-height: 38rpx;
				white-space: pre-wrap;
			}
		}
		.swipper_day_text {
			@extend .text;
			color: rgba(112, 116, 137, 1);
			font-size: 26rpx;
			font-weight: 400;
			line-height: 38rpx;
		}
		.swipper_title_text {
			margin-top: 36rpx;
			margin-left: 28rpx;
			@extend .text;
			color: rgba(28, 31, 46, 1);
			font-size: 30rpx;
			font-weight: 700;
			line-height: 44rpx;
		}
		.raise_group {
			margin: 40rpx 28rpx 0 28rpx;
		}
		.progress_bar_bg {
			width: 644rpx;
			height: 16rpx;
			margin: 14rpx 28rpx 0 28rpx;
			background-color: rgba(233, 236, 239, 1);
			.progress_bar {
				height: 16rpx;
				background-color: rgba(103, 76, 239, 1);
			}
		}
		.total_group {
			margin-top: 16rpx;
			margin-left: 28rpx;
			.total_text {
				@extend .text;
				color: rgba(28, 31, 46, 1);
				font-size: 26rpx;
				font-weight: 700;
				line-height: 38rpx;
			}
			.total_val {
				@extend .text;
				color: rgba(103, 76, 239, 1);
				font-size: 26rpx;
				font-weight: 700;
				line-height: 38rpx;
			}
		}
	}
}
.start_project_box {
	width: 100%;
	height: 672rpx;
	position: relative;
	.start_proj_bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.proj_group {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.proj_introduce {
		margin-top: 94rpx;
		@extend .text;
		color: rgba(41, 240, 181, 1);
		font-size: 30rpx;
		font-weight: 400;
		line-height: 44rpx;
	}
	.proj_text {
		width: 556rpx;
		margin-top: 50rpx;
		@extend .text;
		color: #fff;
		font-size: 40rpx;
		font-weight: 400;
		line-height: 58rpx;
		white-space: pre-wrap;
		text-align: center;
	}
	.proj_btn {
		width: 312rpx;
		height: 92rpx;
		margin-top: 34rpx;
		background-color: rgba(41, 240, 181, 1);
		.proj_btn_text {
			@extend .text;
			color: rgba(0, 0, 0, 1);
			font-size: 26rpx;
			font-weight: 400;
			line-height: 44rpx;
		}
	}
}
.client_join_box {
	width: 100%;
	height: 428rpx;
	background-color: rgba(103, 76, 239, 1);
	.client_join_right_block {
		width: 56rpx;
		height: 56rpx;
		margin-left: auto;
		margin-right: 0;
		background-color: rgba(41, 240, 181, 1);
	}
	.client_join_text {
		width: 350rpx;
		margin-top: 66rpx;
		margin-left: 200rpx;
		@extend .text;
		color: rgba(255, 255, 255, 1);
		font-size: 40rpx;
		font-weight: 700;
		line-height: 54rpx;
		white-space: pre-wrap;
	}
}
.client_box {
	width: 100%;
	margin-top: 120rpx;
	background-color: rgba(247, 247, 249, 1);
	position: relative;
	padding-top: 88rpx;
	padding-bottom: 96rpx;
	.client_left_bar {
		width: 8rpx;
		height: 100%;
		background-color: rgba(41, 240, 181, 1);
		position: absolute;
		left: 0;
		top: 0;
	}
	.client_name {
		margin-left: 62rpx;
		@extend .text;
		color: rgba(103, 76, 239, 1);
		font-size: 40rpx;
		font-weight: 700;
		line-height: 58rpx;
		white-space: pre-wrap;
	}
	.client_describe {
		margin-top: 38rpx;
		margin-left: 60rpx;
		@extend .text;
		color: rgba(138, 145, 153, 1);
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
		white-space: pre-wrap;
	}
	.client_player {
		margin: 38rpx 52rpx 0 52rpx;
	}
}
.change_list_box {
	width: 100%;
	height: 418rpx;
	margin-top: 64rpx;
	background-color: rgba(196, 196, 196, 1);
	position: relative;
	.btn_group {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.change_list_btn {
		width: 80rpx;
		height: 80rpx;
		background-color: #fff;
		.btn_img {
			width: 32rpx;
			height: 32rpx;
		}
	}
}
.subscribe_box {
	width: 100%;
	height: 418rpx;
	position: relative;
	.bg_img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0%;
		top: 0%;
	}
	.subscribe_group {
		margin-top: 36rpx;
		padding: 0 30rpx 0 24rpx;
		position: relative;
	}
	.subscribe_input_box {
		width: 382rpx;
		height: 94rpx;
		background-color: #fff;
		.subscribe_input {
			width: 338rpx;
			height: 38rpx;
			margin-left: 22rpx;
			margin-top: 28rpx;
			@extend .text;
			color: rgba(28, 31, 46, 1);
			font-size: 26rpx;
			font-weight: 400;
			line-height: 38rpx;
		}
		.subscribe_placeholder {
			@extend .text;
			color: rgba(138, 145, 153, 1);
			font-size: 26rpx;
			font-weight: 400;
			line-height: 38rpx;
		}
	}
	.subscribe_btn {
		width: 280rpx;
		height: 94rpx;
		background-color: rgba(28, 31, 46, 1);
		.btn_text {
			@extend .text;
			color: #fff;
			font-size: 26rpx;
			font-weight: 400;
			line-height: 38rpx;
		}
	}
}
