.project_title_box {
	box-shadow: 0rpx 8rpx 8rpx 0rpx rgba(0, 0, 0, 0.25);
	background-color: rgba(103, 77, 239, 1);
	border-radius: 8rpx;
	height: 76rpx;
	width: 160rpx;
	margin: 28rpx 0 0 36rpx;
	.title_text {
		@extend .text;
		height: 44rpx;
		color: rgba(255, 255, 255, 1);
		font-size: 30rpx;
		font-weight: 500;
		line-height: 44rpx;
	}
}
.type_scroll {
	height: 60rpx;
	margin-top: 24rpx;
	margin-bottom: 46rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

.type_box {
	border-radius: 16rpx;
	height: 60rpx;
	border: 2rpx solid rgba(0, 0, 0, 0.13);
	padding: 8rpx;
	margin-left: 16rpx;
	.type_text {
		@extend .text;
		height: 44rpx;
		color: rgba(0, 0, 0, 1);
		font-size: 26rpx;
		line-height: 44rpx;
	}
	.add_icon {
		width: 28rpx;
		height: 30rpx;
		margin-top: 8rpx;
		margin-left: 8rpx;
	}
}
.project_options_group {
	width: 332rpx;
	margin: 28rpx 0 138rpx 70rpx;
	border-width: 2rpx 2rpx 0 2rpx;
	border-color: rgba(140, 118, 255, 0.4);
	border-style: solid;
	// border: 2rpx solid rgba(140, 118, 255, 0.4);
}
.project_option_box {
	border-bottom: 2rpx solid rgba(140, 118, 255, 0.4);
	width: 330rpx;
	height: 64rpx;
	.project_option_text {
		@extend .text;
		height: 44rpx;
		color: rgba(17, 17, 17, 1);
		font-size: 26rpx;
		line-height: 44rpx;
		margin: 10rpx 0 0 16rpx;
	}
}
.project-item {
	width: 700rpx;
	// height: 1206rpx;
	padding-bottom: 25rpx;
	border: 2rpx solid rgba(238, 238, 238, 1);
	background: rgba(255, 255, 255, 1);
	margin-left: 25rpx;
	.project-img {
		width: 100%;
		height: 628rpx;
	}
	.project_introduce_box {
		width: 644rpx;
		height: 210rpx;
		margin: 32rpx 28rpx 0 28rpx;
		background-color: rgba(103, 76, 239, 1);
		padding: 18rpx 44rpx 18rpx 44rpx;
		.project_introduce {
			@extend .text;
			color: rgba(255, 255, 255, 1);
			font-size: 26rpx;
			font-weight: 400;
			line-height: 38rpx;
			white-space: pre-wrap;
		}
	}
	.project_day_text {
		@extend .text;
		color: rgba(112, 116, 137, 1);
		font-size: 26rpx;
		font-weight: 400;
		line-height: 38rpx;
	}
	.project_title_text {
		margin-top: 36rpx;
		margin-left: 28rpx;
		@extend .text;
		color: rgba(28, 31, 46, 1);
		font-size: 30rpx;
		font-weight: 700;
		line-height: 44rpx;
	}
	.raise_group {
		margin: 40rpx 28rpx 0 28rpx;
	}
	.progress_bar_bg {
		width: 644rpx;
		height: 16rpx;
		margin: 14rpx 28rpx 0 28rpx;
		background-color: rgba(233, 236, 239, 1);
		.progress_bar {
			height: 16rpx;
			background-color: rgba(103, 76, 239, 1);
		}
	}
	.total_group {
		margin-top: 16rpx;
		margin-left: 28rpx;
		.total_text {
			@extend .text;
			color: rgba(28, 31, 46, 1);
			font-size: 26rpx;
			font-weight: 700;
			line-height: 38rpx;
		}
		.total_val {
			@extend .text;
			color: rgba(103, 76, 239, 1);
			font-size: 26rpx;
			font-weight: 700;
			line-height: 38rpx;
		}
	}
}
.page_selector {
	margin: 20rpx 25rpx 0 25rpx;
}
