.title_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 176rpx;
	background-color: rgba(255, 255, 255, 1);
	z-index: 10;
	.top_group {
		width: 100%;
		height: 77rpx;
		border-bottom: 1rpx solid rgba(238, 238, 238, 1);
		justify-content: flex-end;
		.title_icon {
			width: 32rpx;
			height: 32rpx;
			margin-right: 10rpx;
		}
		.title_text {
			@extend .text;
			color: rgba(151, 143, 148, 1);
			height: 32rpx;
			font-size: 22rpx;
			margin-right: 30rpx;
		}
	}
	.bottom_group {
		width: 100%;
		padding: 33rpx 34rpx 0 34rpx;
		.title_bottom_icon {
			width: 44rpx;
			height: 44rpx;
		}
	}
}
.menu_drawer {
	width: 438rpx;

	margin-top: 35rpx;
	margin-left: 36rpx;
	.menu_box {
		width: 100%;
		height: 100rpx;
		border-bottom: 2rpx solid rgba(229, 229, 229, 1);
	}
	.menu_text {
		@extend .text;
		height: 44rpx;
		color: rgba(17, 17, 17, 1);
		font-size: 32rpx;
		font-weight: 550;
		text-align: left;
		white-space: nowrap;
		margin-top: 28rpx;
	}
}
